<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link href="css/styles.css" rel="stylesheet">
    <title>The Movie Guru - Contact</title>
  </head>
  <body>
    <div id=wrapper>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">MovieGuru</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Movie">Movies</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/TV">Tv-Shows</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/contact">Contact<span class="sr-only">(current)</span></a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="jumbotron">
            <h1 class="display-4">Contact</h1>
                <p class="lead">Please fill out the form below to contact us.</p>
                <form id="contact-form">
                     <div class="form-group">
                         <label for="">Email address:</label>
                         <input name="email" type="email" class="form-control" id="input1" placeholder="name@example.com">
                     </div>
                     <div class="form-group">
                        <label for="">Message:</label>
                        <textarea name="message" class="form-control" id="input2" rows="3"></textarea>
                    </div>
                        <button type="submit" class="btn btn-primary btn-lg">Submit</button>
        </div>

        <hr class="my-4">

        <div id="aboutInfo">
            <h2>About Us</h2>
            <dl>
                <dt>Lauren Arthur</dt>
                <dd>One of my favorite things to tell people is that I lived in England for 5 years. This was such a fun experience. We would 
                take weekend trips down to Whales or hop over to Ireland for a quick summer vacation. I got to see so much of Europe, and 
                I hope to go back some day and revist the places we lived. I have lived in Georgia for a majority of my life. I am from 
                Augusta, Georgia and ended up coming down to Columbus for school. Some of hobbies include graphics and design, videography 
                and reading. I will have to admit that I also enjoy my fair share of videogaming.
                </dd>

                <dt>Spencer Korioth</dt>
                <dd>Born in Texas, having lived in Arizona and Wisconsin, and now living in Georgia, I am a student studying Computer Science at 
                Columbus State University. While I am studying computer programming, I also have an interest in foreign language and literature. 
                Naturally, as a Computer Science student, I also enjoy video games and am currently looking forward to playing CD Projekt's Cyberpunk 2077.
                </dd>

                <dt>Kyle Martinolich</dt>
                <dd>I live in Columbus, Georgia and am in the Applied Computing track of Computer Science at Columbus State. Outside of schoolwork,
                I spend my time working part-time as a server on the weekends at Johnny's Pizza, as well as working as a part-time Co-Op for Aflac's
                Digital Services department. When I happen to not be working or studying, I love playing sports and video games. Football, basketball,
                and baseball are my favorite hobbies, both playing for real and playing them as video games.
              </dd>
            </dl>
        </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    </div>
  </body>
</html>