html
{
    text-align: center;
    font-family: "Times New Roman", Times, Serif;
    padding: 0;
    margin:auto;
    max-width: 50em;
    background-color: darkgrey;
    background-image: url("/projector.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}
body{text-align:left;}

h1, h2, h3, h4, nav {font-family: "Arial", sans-serif; padding-bottom: .5em;}
h1, h2
{
    color: rgb(201, 130, 110);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

p
{
    padding: .5em, 0;
}


.jumbotron
{
    padding:2em;
    background-color: white;
    margin: 0;
}

#wrapper
{
    min-height:100vh;
    overflow: hidden;
    box-shadow: 0px 0px 20px black;
}

.searchResult, #aboutInfo {margin: 2em;}
#aboutInfo dt {font-size: large;}
#aboutInfo dd {padding-left: 1em; text-indent: 2em;}


