html
{
    text-align: center;
    font-family: "Times New Roman", Times, Serif;
    padding: 0;
    margin:auto;
    max-width: 50em;
    background-color: darkgrey;
    background-image: url("/projector.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

body{text-align:left;}

h1, h2, h3, h4, nav
{
    font-family: "Arial", sans-serif;
    padding-bottom: .5em;
}

h1, h2
{
    color: rgb(201, 130, 110);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

p {padding: .5em, 0;}
a {color: rgb(201, 130, 110);}

.jumbotron
{
    padding:2em;
    background-color: white;
    margin: 0;
}

#wrapper
{
    min-height:100vh;
    overflow: hidden;
    box-shadow: 0px 0px 20px black;
}

.searchResult, #aboutInfo {margin: 2em;}
.form-control {margin-bottom: 1em;}
#aboutInfo dt
{
    font-size: large;
    background-color: rgb(201, 130, 110);
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    border-radius: 1em;
    padding-left: .5em;
}

#aboutInfo dd
{
    padding-left: 1em;
    text-indent: 2em;
}

#cboard
{
    display: block;
    margin: auto;
    max-width: 10em;
    padding-top: 2em;
}

.content
{
    background-color: #f2f2f2;
    border-radius: 1em;
    padding: 1em;
}

h3 {margin-top: .5em;}
.card
{
    width: 21em;
    height: 32em;
    padding: 1em;
    margin: .5em;
    border-radius: 25px;
    border: .2em solid rgb(201, 130, 110);
    overflow: auto;
}
.profile{margin-bottom: 1em;}

.sentMessage{
    margin-left: 3em;
}

.card::-webkit-scrollbar {width: .7em;}
.card::-webkit-scrollbar-track
{
    margin-top: 1em;
    margin-bottom: 1em;
}
.card::-webkit-scrollbar-thumb
{
    background: #C8C8C8;
    border-radius: 1em;
}
.card::-webkit-scrollbar-thumb:hover {background: #B8B8B8;}